@import 'setup';

$mainColor: #815600;
$otherColor: #500801;
$buttonBackground: #1D0303;
$textColor: #FFFFFF;

html {
    font-size: 125%;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    color: $textColor;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 50px;
}

h1,
h2,
h3,
h4,
button {
    font-family: 'Petit Formal Script', cursive;
    color: $textColor;
}

nav,
footer,
.contactNav {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

li a {
    font-size: 1rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

// HEADER STYLES

header {
    background: $mainColor;
}

.home {
    padding: 10px 0 50px 0;
}

.navWrap {
    display: flex;
}

nav li {
    margin-right: 25px;
    padding-top: 25px;
}

.homeFlex {
    display: flex;
}

.headerContainer,
.headerImageContainer {
    width: 50%;
}

.headerImageContainer img {
    padding-left: 15px;
}

.headerContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 15px;
}

h1 {
    font-size: 4.0rem;

}

// ABOUT SECTION STYLES

.about {
    background: $otherColor;
}

.aboutFlex {
    display: flex;

}

.aboutImage {
    width: 25%;
    padding-right: 10px;
}

.aboutImage img {
    object-fit: cover;
}

.aboutText {
    width: 75%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutText button {
    background: $buttonBackground;
    border: none;
    width: fit-content;
}

h2 {
    font-size: 2.7rem;
}

// .aboutGallery STYLES

.aboutGallery {
    background: $mainColor;
}

.galleryHeader h2 {
    text-align: center;
    margin-bottom: 40px;
}

.imageGalleryFlex {
    display: flex;
    flex-wrap: wrap;
}

.imageGalleryFlex li {
    width: calc((100% / 3) - 20px);
    margin: 0 10px 20px;
}

// .aboutMenu STYLES

.aboutMenu {
    background: $otherColor;
}

.aboutMenuFlex {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 2.25rem;
}

// BLOG SECTION STYLES

.blog {
    background-color: $mainColor;
    padding: 0;
    width: 100%;
}

.blogFlex {
    display: flex;
    flex-wrap: wrap;
}

.rowReverse {
    display: flex;
    flex-direction: row-reverse;
}

.blogFlex li {
    width: 50%;
}

.blogFlex img {
    width: max-width;
}

.textBox1,
.textBox2 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blogFlex button {
    background: $buttonBackground;
    border: none;
    width: fit-content;
}

// CONTACT SECTION CSS

.contact {
    background: $otherColor;
}

.contactFlex {
    display: flex;
    justify-content: space-between;
}